<h1>Primjer3</h1>

@{
    var datum = DateTime.Now.ToString("dd.MM.yyyy");
    string poruka = "Dobrovecer :)";
    @:Danasnji datum je @datum
    <br />
    @poruka
}

<br />
<br />

@{
    var datum2 = DateTime.Now.ToString("dd.MM.yyyy");
    string poruka2 = "Dobrodosli svi :)";
    <text> Danasnji datum je </text> @datum2
    <br />
    <text> Pozdravna poruka: @poruka2 </text>

}

